## Interface 

- How to locate the folder of current notebook in Google Drive?
- How to create a new notebook and rename it?
- How to store temporary files for current notebook?

## Cells

Each notebook is a group of cells, primarily either code cell or markdown cell. 

- How to create each type of cell?
- How to rearange the order of cells?
- How to copy/cut a group of consecutive cells? Can you move two cells below this cell to another place?

#### code cell

In [ ]:
print("This is a code cell!")

#### Markdown cell

This is a markdown cell! You can not only write Markdown style text here. It also supports LaTex for math formulas like $\Sigma_n \alpha^n$.

## Markdown

Here are some common syntax of Markdown file:

- Headings # ## ###
- Text Style 
    - **Bold**
    - *Italic*
- Lists
    - ordered 1.
    - unordered -
    - nested 
- Quoting code
```python
x = 1
y = x
```

Read more sytax from [here](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax).

Please write a short paragraph of Markdown cell below using at least three different syntax

Write your Markdown code below:

## Runtime

- How to run all cells?
- How to terminate or kill current kernel?
- How to restart current kernel?
- How to change running type?
- How to check the running time of current cell?

**Be careful!**

Cells can be executed in any order! A variable defined in one cell could be modified in any other cell no matter what the order is. A variale will stay in the memory of the current notebook unless you manually clear it or restart the kernel.  

Cell may never stop running itself. Notebook only can execute one code at one time. So, the notebook will stop executing other cell if it is stuck on one cell. A quick way to check if a cell is under running background is to look at the circle on the top-left corner of the cell. It would be a circle with a triangle inside if the kernel is free to use, and it would be a circle with dashed boundary and a square inside if the kernel is busy.

**Be Careful!** 

All variables, functions, and any other objects will be cleared from current kernel after the restarting. 

Please run the code below and then restart the kernel. Try it again and then interupt the kernel. It is an infinite loop, so it never stops. 

Print the x value after restarting and interupting. Tell me what is the difference?

In [ ]:
x = 1
while x:
    x += 1

In [ ]:
x

## output

- How to clear output?

Can you clear all existed output? This operation is very helpful if you have messy outputs.

## Shotcuts

- How to comment a block of code? 
- How to indent a block of code for indentation?
- How to run code using short keys?

On Mac:
- command + /
- command + \[ or \]
- shift + enter

On Windows:

I am not sure since I do not have a windows machine. Try to use ctrl instead of command. You also can read more information from this [page](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330)

Please use shotcuts to comment, ident, and run the block code below.

In [ ]:
# This is a block of code. 
for i in range(10):
    for j in range(10):
        for k in range(10):
            x = i + j + k

## Terminal 

You can open terminal on a tab inside Jupyter. Here are some common Linux commands. You can read more commands from this [page](https://www.hostinger.com/tutorials/linux-commands).

- ls
- pwd
- cd

You also can use exclamation mark `!` to run command directly in a cell.

In [ ]:
!pwd

## Environment 

Each colab notebook has its own environment with a bunch pre-installed common data science and machine learn learning packages. Under one colab environemnt, you can install your own packages, connect to your own local or cloud storage, load external git respository, etc. 

But you must know that all the temporary files and connections under one environment may be erased after restarting or reopening the colab.

## Connect to Google Drive

The path to the Colab folder under Google drive is ```/content/drive/My Drive/Colab Notebooks/``. Please download the csv file from

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
filename = "/content/drive/My Drive/Colab Notebooks/Titanic.csv"
pd.read_csv(filename)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen 'Carrie'",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q